{port_env, [
    {"EXE_LDFLAGS", "-lpcap $ERL_LDFLAGS"},
    {"EXE_CFLAGS", "$EXE_CFLAGS $EPCAP_CFLAGS"},
    {"linux", "EXE_CFLAGS", "$EXE_CFLAGS -DEPCAP_RLIMIT_NOFILES=1"},
    {"solaris", "EXE_CFLAGS", "$EXE_CFLAGS -DEPCAP_RLIMIT_NOFILES=1"}
]}.

{port_specs, [
    {"priv/epcap", ["c_src/epcap.c", "c_src/epcap_priv.c"]}
]}.

{deps, [
    {pkt, ".*", {git, "https://github.com/msantos/pkt.git", "master"}}
]}.
