{port_env, [
    {"EXE_LDFLAGS", "-lpcap $ERL_LDFLAGS"},
    {"EXE_CFLAGS", "$EXE_CFLAGS $EPCAP_CFLAGS"},
    {"linux", "EXE_CFLAGS", "$EXE_CFLAGS -DEPCAP_RLIMIT_NOFILES=1"},
    {"solaris", "EXE_CFLAGS", "$EXE_CFLAGS -std=c99 -D_POSIX_C_SOURCE=200112L -D__EXTENSIONS__=1 -DEPCAP_RLIMIT_NOFILES=1"}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd|openbsd|netbsd)", compile, "gmake -C c_src"}
    ]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd|openbsd|netbsd)", clean, "gmake -C c_src clean"}
    ]}.

{deps, [
    {pkt, ".*", {git, "https://github.com/msantos/pkt.git", {branch, "master"}}}
]}.
